 html {
        background-color: #444;
        padding: 0 1em;
      }
      body {
        background-color: #FFF;
        font-family: 'Lato', sans-serif;
        margin: 1em auto;
        max-width: 50em;
        height: 52.625em;
      }
      #section-left {
        width: 35%;
        float: left;
        height: 100%;
        background-color: rgb(60, 60, 60);
        color: #fff;
        text-align: center;
      }
      .MyProfilePicture img
        {
            width: 17/2%;
            height: 17%;
            border-radius:60%;
            margin-left: 11%;
            margin-right:9%;
            margin-top: 15%;
        }
      #section-left .section {
        margin-top: 10%;
        padding: 1em;
      }
      #section-left .section .logo {
        height: 150px;
        width: 150px;
        border-radius: 50%;
        margin: 0 auto;
        background: url('http://jaipurstudents.com/broker/wp-content/uploads/2015/10/dummy-logo-300x140.png');
      }
      .intro hr {
        width: 8em;
        display: block;
        height: 2px;
        border: 0px;
        border-top: 2px solid;
      }
      .dob  {
        text-decoration: overline underline;
        
      }
      .intro .content {
        margin-bottom: 20px;
      }
      #contact {
        margin-top: 40px;
      }
      h1, h2 {
        font-family: 'Open Sans', sans-serif;
        text-transform: uppercase;
      }
      #section-right {
        width: 65%;
        float: right;
        /*height: 100%;*/
      }
      #section-right .section {
        margin: 0 0 30px 0;
      }
      .wrapper {
        padding: 2em;
      }
      .fa {
        margin-right: 15px;
      }
      .wrapper .title {
        color: #bf4949;
        font-size: 1.3em;
        font-variant: small-caps;
        letter-spacing: 0.1em;
        font-weight: bold;
        border-bottom: 2px solid #f2f2f2;
      }
      a:link {
        color: #fff;
        text-decoration: none;
      }
      a:visited {
        color: #fff;
        text-decoration: none;
      }
      a:hover {
        color: #fff;
        text-decoration: none;
      }
      a:active {
        color: #fff;
        text-decoration: none;
      }
      h2 {
        text-transform: uppercase;
        font-size: 1em;
      }
      h3 {
        font-size: 0.8em;
        text-transform: uppercase;
        font-weight: normal;
      }